/* Details section header */
h1 {
  font-family: sans-serif;
  font: Helvetica;
  color: #3c3c3c;
}

/* 'LOADING' text display styling */
h2 {
  font-family: sans-serif;
  font: Helvetica;
  color: #3c3c3c;
}

/* Styling span with id bold */
#bold {
  font-style: normal;
  font-weight: bold;
}

/* Styling of the category buttons (navigation) */
.kategorier button {
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  border: 13px;
  padding: 10px;
}

/* Navigation buttons when disabled */
.kategorier .disabled {
  background-color: gray;
}

#introduksjon{
  width: auto;
  max-width: 50vw;
}




/* Search bars */
#detaljer label {
  margin: 10px;
}

#detaljer button {
  margin: 10px;
}

input {
  margin-top: 10px;
}

#sammenligning button {
  margin-top: 10px;
}

/* Styling to hide/show the content of the chosen category */
.hidden {
  display: none;
}
.visible {
  display: block;
}

/* Footer styling */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: lightgray;
}

/* Table styling */
.table {
  border: 0px solid black;
  border-collapse: collapse;
  font-family: sans-serif;
  font: Helvetica;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.table-row {
  padding-bottom: 25px;
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}


/* Table cells styling */
.table-cell {
  display: flex;
  border-collapse: collapse;
}

.table-cell-year {
  padding: 5px;
  border: 1px solid black;
}

.table-cell-content {
  padding: 5px;
  padding-left: 25px;
  vertical-align: middle;
}

/* Table header styling */
.table-header {
  width: 250px;
  height: 60px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #232323;
  background-color: LightGray;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

/* Styling for smaller screens */
@media only screen and (max-width: 600px) {
  .table {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .table-row {
    padding-bottom: 30px;
    padding-left: 0px;
    flex-direction: row;
    border: 1px solid black;
  }

  .table-cell {
    padding: 0px 10px;
    flex-direction: column;
  }

  .table-cell-content {
    padding-left: 5px;
  }
}

/* Styling compare section */

.sammenlignkommune {
  width: 100px;
  float:left;
}

.sammenlignkommune h3{
  text-align: center;
}

#sammenligntekst{
  float:left;
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

#sammenligntekst ul {
  padding-left: 0px;
  text-align: center;
}

ul {
    list-style-type: none;
}



#winnerColor {
  background-color: #b0ff83;
}

#looserColor {
  background-color: #ffc0c0;
}
