/* Details section header */
h1 {
  font-family: sans-serif;
  font: Helvetica;
  color: #3c3c3c;
}

/* 'LOADING' text display styling */
h2 {
  font-family: sans-serif;
  font: Helvetica;
  color: #3c3c3c;
}

/* Styling of the category buttons (navigation) */
.kategorier button {
  background-color: #333;
  color: #fff;
  padding: 10px 15px
  border: 13px;
  padding: 10px;
}

/* Navigation buttons when disabled */
.kategorier .disabled {
  background-color: gray;
}

/* Styling to hide/show the content of the chosen category */
.hidden {
  display: none;
}
.visible {
  display: block;
}

/* Styling for the search bars in details section and compare section */
.userinput button {
  margin: 10px;
}

.userinput label {
  margin: 10px;
}

/* Footer styling */
footer {
  position: fixed;
  bottom: 0;
  width: 100%
  background-color: lightgray;
}

td {
  text-align: center;
}
